<div class="container page-background">
	<div class="page-title">
		<h2 class="page-title">Leaderboard</h2>
	</div>
	<br>
	<div class="fixed-width">
		<table class="mdl-data-table mdl-js-data-table mdl-shadow--8dp view-table">
			<thead>
				<tr class="table-header-row">
					<th>Rank</th>
					<th class="mdl-data-table__cell--non-numeric">Planner</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-row" ng-repeat='planner in leaderboard.entry' ng-click='getPlannerStats(entry.planner);'>
					<td>{{ planner.rank }}</td>
					<td class="mdl-data-table__cell--non-numeric">{{ planner.planner }}</td>
					<td >{{ planner.score }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>