<div class="container page-background">
	<div class="page-title">
		<h2 class="page-title">View Domains</h2>
	</div>
	<br>
	<div class="fixed-width">
		<table class="mdl-data-table mdl-js-data-table mdl-shadow--8dp view-table">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric">Domain</th>
					<th class="mdl-data-table__cell--non-numeric">Formulation</th>
					<th>IPC</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='domain in domains' ng-click='getDomain(domain.id);'>
					<td class="mdl-data-table__cell--non-numeric">{{ domain.name }}</td>
					<td class="mdl-data-table__cell--non-numeric">{{ domain.formulation }}</td>
					<td>{{ domain.ipc }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>