<!DOCTYPE html>
<html>
	<head>
		<title>Planning.Domains - The Online Planning Portal</title>
		<link rel="stylesheet" href="/css/material.min.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400,700d' rel='stylesheet' type='text/css' />
		<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
		<script src="/js/material.min.js"></script>
		<script src="/js/app.js"></script>
	</head>
	<body ng-app='app'>
		<div class="transparent-layout mdl-layout mdl-js-layout">
		  <header class="mdl-layout__header mdl-layout__header--transparent">
		    <div class="mdl-layout__header-row">
		      <div id="home-link"><a href="/#/"><span class="mdl-layout-title home-link-text">Planning.Domains</span></a></div>
		      <div class="mdl-layout-spacer"></div>
		      <nav class="mdl-navigation">
		        <a href="/#/view"><button class="mdl-button mdl-js-button navbar-button">View Domains</button></a>
		        <a href="/#/submit"><button class="mdl-button mdl-js-button navbar-button">Submit Domain</button></a>
		        <!--<a href="/#/submit"><button class="mdl-button mdl-js-button navbar-button">Submit Planner</button></a>-->
		        <a href="/#/competition"><button class="mdl-button mdl-js-button navbar-button">Competition</button></a>
		      </nav>
		    </div>
		  </header>
		  <div class="mdl-layout__drawer">
		    <span class="mdl-layout-title">Planning.Domains</span>
		    <nav class="mdl-navigation">
		      <a class="mdl-navigation__link" href="/#/view">View Domains</a>
		      <!--<a class="mdl-navigation__link" href="/#/submit">Submit Domain</a>-->
		      <a class="mdl-navigation__link" href="/#/submit">Submit Planner</a>
		      <a class="mdl-navigation__link" href="/#/competition">Competition</a>
		    </nav>
		  </div>
		  <main class="mdl-layout__content">
		  	<div ng-view></div>
		  </main>

		</div>
	</body>
</html>