<!DOCTYPE html>
<html>
	<head>
		<title>Planning.Domains - The Online Planning Portal</title>
		<link rel="stylesheet" href="css/material.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script src="js/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	<body>
		<div class="container">
			<div id="main-title">
				<div class="fixed-width">
					<h1>Planning.Domains</h1>
				</div>
			</div>
			<br>
			<div id="main-body">
				<div class="fixed-width">
					<ul id="main-buttons">
						<li><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onclick="location.href = '/view';">Browse Domains</button></li>
						<li><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onclick="location.href = '/submit';">Submit Domain</button></li>
						<li><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onclick="location.href = '/competition';">Planning Competition</button></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>